@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Rajdhani:wght@300;400;500;600;700&display=swap");

:root {
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: rgba(211, 212, 223, 1);
  color: rgba(0, 0, 0, 1);
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  height: auto;
}

.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.button:hover {
  scale: 120%;
}

.header.is-open .header__background {
  left: 0;
}
.header__button-wrapper {
  margin-left: auto;
}
.header__icon {
  display: none;
}

.header__icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.header__icon--menu {
  display: block;
}

.header__icon-button.is-open .header__icon--menu {
  display: none;
}

.header__icon-button.is-open .header__icon--close {
  display: block;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 5;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  background: transparent;
  display: flex;
  height: 64px;
}

.header__background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;

  z-index: -1;
  -webkit-transition: left 0.3s ease;
  transition: left 0.3s ease;
  background: rgba(217, 217, 217, 0.86);
}
.header.is-open .header__background {
  left: 0;
}
.header__button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: end;
}
.policy-terms-header__button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__icon {
  display: none;
}
.header__icon-button {
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.header__icon--menu {
  display: block;
}

.header__icon-button.is-open .header__icon--menu {
  display: none;
}

.header__icon-button.is-open .header__icon--close {
  display: block;
}

.navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 12px;
  position: relative;
}

.navigation__list {
  display: flex;
  flex-direction: column;

  align-items: center;

  top: 130px;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: 557px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 999;

  padding: 0px 32px;

  border-radius: 0px 0px 20px 20px;
  gap: 28px;
  background: rgba(217, 217, 217, 0.86);
}
.navigation__list.is-open {
  right: 0;
}
.navigation__link {
  font-family: Rajdhani;
  font-weight: 500;
  font-size: 24px;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
}
.navigation__link:hover,
.navigation__link:focus {
  font-family: Rajdhani;
  font-weight: 600;
  font-size: 32px;
}
.header.is-open {
  background-color: transparent;
}
.navigation-img {
  display: none;
}

@media screen and (min-width: 1200px) {
  .navigation-img {
    display: flex;
  }
  .policy-terms-header__icon--menu {
    display: none;
  }

  .header {
    width: 100%;

    height: 136px;
    padding: 10px 0px 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(152, 159, 207, 0.52);
    box-shadow: 0px 3px 7.2px 0px rgba(0, 0, 0, 0.25);

    backdrop-filter: blur(100px);

    z-index: 1000;
  }
  .header__background {
  }

  .header__icon-button {
    display: none;
  }

  .navigation {
    display: flex;

    flex-direction: row;

    flex: 1;
    padding: 0;

    width: 1440px;
    margin: auto;
  }
  .navigation__list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;

    padding-block: 0;
    flex: 1;
    gap: 3px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
  }
  .navigation__link {
    font-family: Rajdhani;
    font-weight: 500;
    font-size: 24px;

    padding: 0px 24px;
    text-decoration: none;
  }

  .header__icon-home-img {
    display: none;
  }
  .navigation__item-desk {
    display: none;
  }
}

.home {
  width: 375px;
  height: 800px;
  padding: 232px 16px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/home/Frame\ 85.png");
  margin: auto;
}

.home__container-top {
  display: flex;
  flex-direction: column;
  align-items: start;
  border-radius: 16px;
  padding: 24px;
  background: rgba(217, 217, 217, 0.86);
}
.home-title {
  font-family: Orbitron;
  font-weight: 700;
  font-size: 24px;

  text-transform: capitalize;
}

.home-text {
  font-family: Rajdhani;
  font-weight: 500;
  font-size: 20px;
  padding: 24px 0;
}
.home__google-button_image {
  width: 284px;
  height: 60px;
}
.home__google-button_link:hover .home__google-button_image {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

@media screen and (min-width: 1200px) {
  .home {
    width: 1440px;
    height: 1026px;
    padding: 322px 472px 0 108px;
    background-image: url("/img/home/Frame\ 86.png");
  }
  .home__container-top {
    display: flex;
    flex-direction: column;
    background: rgba(217, 217, 217, 0.65);
  }
  .home-title {
    font-family: Orbitron;
    font-weight: 700;
    font-size: 40px;

    text-transform: capitalize;
  }

  .home-text {
    font-family: Rajdhani;
    font-weight: 400;
    font-size: 32px;

    padding: 24px 0 36px;
  }
}
.uniqueness {
  width: 375px;
  margin: auto;
  padding: 80px 15px 0;
}

.uniqueness-list {
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-family: Rajdhani;
  font-weight: 400;
  font-size: 20px;
}

@media screen and (min-width: 1200px) {
  .uniqueness {
    width: 1440px;
    padding: 110px 106px 0;
  }
  .uniqueness-list {
    padding-top: 48px;
    gap: 24px;
    font-family: Rajdhani;
    font-weight: 400;
    font-size: 32px;
  }
}
.about {
  padding: 50px 15px 0px;
  margin: auto;
  width: 375px;
}

.about-title {
  font-family: Orbitron;
  font-weight: 600;
  font-size: 24px;

  text-transform: capitalize;
}

.about-text {
  font-family: Rajdhani;
  font-weight: 400;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 32px 0;
}
.why-text-bold {
  font-family: Rajdhani;
  font-weight: 600;
  font-size: 20px;
}
.why-list {
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.why-item {
  width: 344;
  height: 126;
  border-radius: 8px;
  padding: 21px;
  border: 3px solid rgba(90, 101, 182, 1);
  font-family: Rajdhani;
  font-weight: 400;
  font-size: 20px;
}

@media screen and (min-width: 1200px) {
  .about {
    padding: 108px 106px 0;
    width: 1440px;
  }
  .about-title {
    font-family: Orbitron;
    font-weight: 600;
    font-size: 40px;

    text-transform: capitalize;
  }

  .about-text {
    font-family: Rajdhani;
    font-weight: 400;
    font-size: 32px;

    gap: 24px;
    padding: 48px 0 32px;
  }
  .why-text-bold {
    font-family: Rajdhani;
    font-weight: 600;
    font-size: 40px;
  }
  .why-list {
    padding-top: 40px;
    display: flex;
    flex-direction: row;
    gap: 24px;
  }
  .why-item {
    width: 392px;
    height: 228px;
    font-family: Rajdhani;
    font-weight: 400;
    font-size: 32px;
    border-radius: 8px;
    padding: 329x;
  }
}
.how {
  width: 375px;
  margin: auto;
  padding: 80px 15px 0;
}

.how-list {
  padding-top: 48px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.how-item {
  display: flex;
  gap: 36px;
  align-items: center;
}
.how-img {
  width: 49px;
  height: 54px;
}
.how-text-bold {
  font-family: Rajdhani;
  font-weight: 500;
  font-size: 20px;
}
.how-text {
  font-family: Rajdhani;
  font-weight: 400;
  font-size: 20px;
}

@media screen and (min-width: 1200px) {
  .how {
    width: 1440px;
    padding: 110px 106px 0;
  }
  .how-list {
    padding-top: 48px;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  .how-item {
    display: flex;
    gap: 36px;
    align-items: center;
  }
  .how-img {
    width: 102px;
    height: 114px;
  }
  .how-text-bold {
    font-family: Rajdhani;
    font-weight: 500;
    font-size: 32px;
  }
  .how-text {
    font-family: Rajdhani;
    font-weight: 400;
    font-size: 32px;
  }
}

.reviews {
  width: 375px;
  margin: auto;
  padding: 80px 15px 0;
}

.reviews-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-top: 32px;
}
.reviews-item {
  border-radius: 16px;
  padding: 21px;
  border: 3px solid rgba(90, 101, 182, 1);
  background: rgba(152, 159, 207, 1);
}

.reviews-text-bold {
  font-family: Rajdhani;
  font-weight: 500;
  font-size: 22px;
}
.reviews-text {
  font-family: Rajdhani;
  font-weight: 400;
  padding-top: 16px;
  font-size: 20px;
}

@media screen and (min-width: 1200px) {
  .reviews {
    width: 1440px;
    padding: 110px 106px 0;
  }
  .reviews-list {
    display: flex;
    flex-direction: column;
    gap: 48px;
    padding-top: 48px;
  }
  .reviews-item {
    width: 1021px;
    border-radius: 16px;
  }
  .reviews-item-two {
    margin-left: 207px;
  }
  .reviews-text-bold {
    font-family: Rajdhani;
    font-weight: 500;
    font-size: 36px;
  }
  .reviews-text {
    font-family: Rajdhani;
    font-weight: 400;
    font-size: 32px;
  }
}

.faq {
  padding: 80px 15px;
  margin: auto;
  width: 375px;
}
.faq-container {
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.faq-item {
  border-radius: 8px;
  padding: 13px;
  border: 3px solid rgba(90, 101, 182, 1);
}

.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-family: Rajdhani;
  font-weight: 500;
  font-size: 20px;
}
.faq-question span {
  width: 205px;
}
.toggle-button {
  background: none;
  border: none;

  cursor: pointer;
}

.faq-answer {
  display: none;
  padding-top: 16px;
  font-family: Rajdhani;
  font-weight: 400;
  font-size: 20px;
  width: 246px;
}
@media screen and (min-width: 1200px) {
  .faq {
    padding: 110px 106px;
    width: 1440px;
  }
  .faq-container {
    padding-top: 48px;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .faq-item {
    border-radius: 8px;
    padding: 13px;
    border: 3px solid rgba(90, 101, 182, 1);
    width: 870px;
    margin: auto;
  }

  .faq-question {
    font-family: Rajdhani;
    font-weight: 500;
    font-size: 32px;
  }
  .faq-question span {
    width: auto;
  }
  .toggle-button {
    background: none;
    border: none;

    cursor: pointer;
  }

  .faq-answer {
    display: none;
    padding-top: 16px;
    font-family: Rajdhani;
    font-weight: 400;
    font-size: 32px;

    width: 598px;
  }
}
.features {
  width: 375px;
  margin: auto;
  padding: 80px 16px 0px;
}

.features-list {
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.features-item {
  width: 343px;
  border-radius: 8px;
  padding: 15px;
  border: 9px solid rgba(90, 101, 182, 1);
  background: rgba(152, 159, 207, 1);
}

.features-text-bold {
  width: fit-content;
  height: 50px;
  border-radius: 4px;
  padding-top: 12px;
  padding-right: 16px;
  padding-bottom: 12px;
  padding-left: 16px;
  background: rgba(90, 101, 182, 1);
  font-family: Rajdhani;
  font-weight: 600;
  font-size: 20px;

  color: rgba(255, 255, 255, 1);
}
.features-text {
  font-family: Rajdhani;
  font-weight: 400;
  font-size: 20px;
  padding-top: 16px;
}

@media screen and (min-width: 1200px) {
  .features {
    width: 1440px;
    padding: 110px 106px 0px;
  }
  .features-list {
    padding-top: 48px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
  }
  .features-item {
    width: 600px;
    height: 281px;
    border-radius: 8px;
    padding: 23px;
  }

  .features-text-bold {
    height: 70px;
    padding-top: 12px;
    padding-right: 16px;
    padding-bottom: 12px;
    padding-left: 16px;
    font-family: Rajdhani;
    font-weight: 600;
    font-size: 36px;
  }
  .features-text {
    font-family: Rajdhani;
    font-weight: 400;
    font-size: 32px;
    padding-top: 24px;
  }
}
.footer {
  padding: 40px 32px;
}
.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 30px;
}

.footer-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.footer-text {
  font-family: Rajdhani;
  font-weight: 500;
  font-size: 22px;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-offset: 0%;
  text-decoration-thickness: 0%;
  text-decoration-skip-ink: auto;

  color: rgba(0, 0, 0, 1);
}

.footer-copyright {
  font-family: Rajdhani;
  font-weight: 600;
  font-size: 16px;
}

@media screen and (min-width: 1200px) {
  .footer {
    width: 1440px;
    margin: auto;
  }
  .footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }

  .footer-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    gap: 48px;
  }
  .footer-text {
    font-family: Rajdhani;
    font-weight: 500;
    font-size: 32px;

    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-offset: 0%;
    text-decoration-thickness: 0%;
    text-decoration-skip-ink: auto;
  }

  .footer-copyright {
    font-family: Rajdhani;
    font-weight: 600;
    font-size: 28px;
  }
}
.policy-terms-container {
  padding: 110px 16px 40px;
  font-family: Rajdhani;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0%;
}
.policy-terms-title {
  font-family: Orbitron;
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
}

.policy-terms-text {
  padding-top: 20px;
  font-family: Rajdhani;
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0%;
}
.policy-terms-texts {
  padding-top: 8px;
}
.policy-terms-text-one {
  padding-top: 20px;
}

.terms-list {
  list-style-type: disc;
  padding: 20px 0 20px 25px;
  display: flex;
  flex-direction: column;
}

.terms-lists {
  list-style-type: disc;
  padding-left: 25px;
}
.email-link {
  color: inherit;
  text-decoration: none;
}
.email-link-color {
  color: inherit;
  text-decoration: none;
}
@media screen and (min-width: 1200px) {
  .policy-terms-container {
    padding: 216px 80px 108px;
    width: 1440px;
    margin: auto;
    font-family: Rajdhani;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0%;
  }
  .policy-terms-title {
    font-family: Orbitron;
    font-weight: 700;
    font-size: 48px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: capitalize;
  }

  .policy-terms-text {
    padding-top: 40px;
    font-family: Rajdhani;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0%;
  }
  .policy-terms-texts {
  }
  .policy-terms-text-one {
    padding-top: 30px;
  }

  .terms-list {
    padding: 20px 0 20px 25px;
  }
}

.cookie-popup {
  position: fixed;
  bottom: 10px;
  width: 375px;

  padding: 40px 28px;
  background: rgba(240, 239, 235, 1);

  z-index: 1000;

  display: none;
}

.cookie-popup-text-two {
  font-family: Rajdhani;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;

  color: rgba(0, 0, 0, 1);
}
.cookie-button-container {
  padding: 24px 0 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.cookie-button {
  border: none;
  background-color: transparent;
  border: 1px solid rgba(90, 101, 182, 1);
  box-shadow: 0px 1px 3px 0px rgba(0, 79, 182, 1);
  width: 319px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 8px;
  font-family: Rajdhani;
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgba(90, 101, 182, 1);
}
#accept-cookies {
  background: rgba(90, 101, 182, 1);
  box-shadow: 3px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: rgba(255, 255, 255, 1);
}
.close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}
@media screen and (min-width: 1200px) {
  .cookie-popup-text-two {
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0%;
  }
  .cookie-button-container {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 16px;
  }
  .cookie-popup {
    position: fixed;
    bottom: 10px;
    width: 1440px;

    padding: 52px;
    display: none;
  }
}
